<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFQYZU1zsSoG1rHgPaseU5vahmTiK_TLI&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




<script>
    function initialize() {
      var input = document.getElementById('location');
      var autocomplete = new google.maps.places.Autocomplete(input);
      }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });

    var timepicker = new TimePicker('time', {
      lang: 'en',
      theme: 'blue-grey',
    });

</script>

</head>

<body>

    <div class="row no-gutters">
        <div class="col-6 col-md-4 bg-primary">
          <br>
          <div class="container">
            <fieldset>
                <form action="/jam" method="POST">
                    <h2> PARK N' GO </h2>
                    <legend><b>Lender - Fill Out Your Request</b></legend>
                    <p>
        
                        <input class="form-control input-sm" type="text" name="Name" placeholder="Your Name"><br>
                        <input class="form-control input-sm" type="text" id="location" name="Address" value="" autocomplete="off" /><br>
        
                        <div class="form-check form-check-inline">
                        Availability:
                        Mon <input class="form-check-input" type="checkbox" name="mon" value=1>
                        Tue <input class="form-check-input" type="checkbox" name="tue" value=1> 
                        Wed <input class="form-check-input" type="checkbox" name="wed" value=1> 
                        Thu <input class="form-check-input" type="checkbox" name="thu" value=1> 
                        Fri <input class="form-check-input" type="checkbox" name="fri" value=1> 
                        Sat <input class="form-check-input" type="checkbox" name="sat" value=1>
                        Sun <input class="form-check-input" type="checkbox" name="sun" value=1> 
                        
                        </div><br><br>
        
                        <input class="form-control input-sm" type="text" name="Amount" placeholder="Price (per hour)"> <br>
        
                        <!-- OC: added Start and endtime -->
                        <input class="form-control input-sm" type="text" name="daterange" placeholder="Date range (11/01/2018 - 11/07/2018)"/><br>
        
                        Start Time: 
        
                        <select class="input-small" name='StartTime'>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
        
                        End Time: 
        
                        <select class="input-small" name='EndTime'>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
        
                        <br>
                    </p>
                    
                    <button class="btn btn-primary btn-dark btn-block">Submit</button>
                    <br>
                </form>
              </div>
            </fieldset>


        </div>
        <div class="col-12 col-sm-6 col-md-8">
            <div id="map" style="width: 100%; height: 825px; background: grey" />
            <script  type="text/javascript" charset="UTF-8" >
              
          /**
           * Creates a new marker and adds it to a group
           * @param {H.map.Group} group       The group holding the new marker
           * @param {H.geo.Point} coordinate  The location of the marker
           * @param {String} html             Data associated with the marker
           */
          function addMarkerToGroup(group, coordinate, html) {
            var marker = new H.map.Marker(coordinate);
            // add custom data to the marker
            marker.setData(html);
            group.addObject(marker);
          }
          
          /**
           * Add two markers showing the position of Liverpool and Manchester City football clubs.
           * Clicking on a marker opens an infobubble which holds HTML content related to the marker.
           * @param  {H.Map} map      A HERE Map instance within the application
           */
          function addInfoBubble(map) {
            var group = new H.map.Group();
          
            map.addObject(group);
          
            // add 'tap' event listener, that opens info bubble, to the group
            group.addEventListener('tap', function (evt) {
              // event target is the marker itself, group is a parent event target
              // for all objects that it contains
              var bubble =  new H.ui.InfoBubble(evt.target.getPosition(), {
                // read custom data
                content: evt.target.getData()
              });
              // show info bubble
              ui.addBubble(bubble);
            }, false);
              
              
                  var rows = <%-JSON.stringify(locations)%>
                  console.log(rows);
                  console.log("lorem ipsum");
          
                  for(i=0; i< rows.length; i++) {
                      console.log(rows[i]._id);
                      var loopLat = rows[i].latitude;
                      var loopLng = rows[i].longitude;
                      addMarkerToGroup(group, {lat:loopLat, lng:loopLng},
              '<div><form action="/auth" method="GET"><input type ="hidden" name = "_id" value = "' + rows[i]._id + '"/><button>Buy</button></form></a>' +
              '<div><p>' + rows[i].title + '</p>' + 
              '</div>' + rows[i].name + '<br> $' + rows[i].amount + '<br><br>' + rows[i].body + '</div>');
                  }
          }
          
          
          
          /**
           * Boilerplate map initialization code starts below:
           */
          
          // initialize communication with the platform
          var platform = new H.service.Platform({
            app_id: 'devportal-demo-20180625',
            app_code: '9v2BkviRwi9Ot26kp2IysQ',
            useHTTPS: true
          });
          var pixelRatio = window.devicePixelRatio || 1;
          var defaultLayers = platform.createDefaultLayers({
            tileSize: pixelRatio === 1 ? 256 : 512,
            ppi: pixelRatio === 1 ? undefined : 320
          });
          
          // initialize a map - this map is centered over UAkron
          
          var map = new H.Map(document.getElementById('map'),
          platform.createDefaultLayers().normal.map, {
              center: {lat: 42.3505, lng: -71.1054}, 
              zoom: 14
          });
          
          // MapEvents enables the event system
          // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
          var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
          
          // create default UI with layers provided by the platform
          var ui = H.ui.UI.createDefault(map, defaultLayers);
          
          // Now use the map as required...
          addInfoBubble(map);
            </script>
          


        </div>
        
      </div>
    


 
</body>
</html>